<div class="container d-flex flex-row">
    <div class="card me-5 mt-5 card-image">
        <div [style.background-image]="'url(' + urlImg + userInfo?.imageFileName + ')'" class="w-img"></div>
        <button type="button" class="btn btn-border w-100" (click)="openModalModif()">Modifier</button>
    </div>

    <!-- Modal Modif Image -->
    <div class="modal fade" id="modifImage" tabindex="-1" aria-labelledby="modalModifImage" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier votre image</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="file" (change)="onFileSelected($event)" id="imageFile" name="imageFile">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                    <button type="button" class="btn btn-primary" (click)="onUpdateImage()">Modifier</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Autres informations sur la boutique -->
    <div class="card me-5 mt-5">
        <div class="text-start d-flex flex-column text-card">
            <p *ngIf="userInfo?.dateDeCreation">Date de création : {{ userInfo.dateDeCreation }}</p>
            <p><strong>Nombres de commentaires: </strong>7</p>
            <p><strong>Moyenne d'évaluation: </strong> * * * * *</p>
            <p><strong>Nombre de commandes totales: </strong>500</p>
        </div>
        <button class="btn btn-border w-100 disable">Informations</button>
    </div>

    <!-- Autres informations sur l'utilisateur -->
    <div class="card me-5 mt-5 card-info-perso">
        <div class="text-start d-flex flex-column text-card">
            <p><strong>Email: </strong>{{userInfo?.email}}</p>
            <p><strong>Mot de passe: </strong>********</p>
            <p><strong>N° Siret: </strong>{{userInfo?.numSiret}}</p>
            <p><strong>Nom du stand: </strong>{{userInfo?.nameBusiness}}</p>
            <p><strong>Numéro tel: </strong>{{userInfo?.tel}}</p>
        </div>
        <button class="btn btn-border w-100" (click)="openModalInfo()">Changer les informations</button>
    </div>

    <!-- Modal pour modifier les informations personnelles -->
    <div class="modal fade" id="modifInfo" tabindex="-1" aria-labelledby="modifInfoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modifInfoLabel">Modifier vos informations</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="userInfoForm" (ngSubmit)="onUpdateInfo()">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" id="email" class="form-control" formControlName="email">
                        </div>
                        <div class="mb-3">
                            <label for="numSiret" class="form-label">Numéro Siret</label>
                            <input type="text" id="numSiret" class="form-control" formControlName="numSiret">
                        </div>
                        <div class="mb-3">
                            <label for="nameBusiness" class="form-label">Nom du Stand</label>
                            <input type="text" id="nameBusiness" class="form-control" formControlName="nameBusiness">
                        </div>
                        <div class="mb-3">
                            <label for="tel" class="form-label">Téléphone</label>
                            <input type="text" id="tel" class="form-control" formControlName="tel">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary" (click)="onUpdateInfo()">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
</div>