<div class="container mt-5">
<h2>Réinitialisation du mot de passe</h2>
<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <label for="password">Nouveau mot de passe :</label>
    <input id="password" type="password" formControlName="password" required>
    
    <label for="confirmPassword">Confirmer le mot de passe :</label>
    <input id="confirmPassword" type="password" formControlName="confirmPassword" required>

    <button type="submit" >Réinitialiser</button>
</form>
<div *ngIf="message">{{ message }}</div>
</div>

