<div class="container mt-5">
    <!-- Message de bienvenue -->
    <div class="row">
      <div class="col text-center">
        <img [src]="getUserImageUrl(user?.imageFileName)" style="width: 90px; height: 90px; border-radius: 50%;" alt="User Image">

        <h1>Bienvenue, {{ user?.userName}} !</h1>
      </div>
    </div>

    <!-- Actions de l'utilisateur -->
    <div class="row mt-4">
      <div class="col text-center">
        <a [routerLink]="['/user/command-history',user?.id]" class="btn btn-success mx-2" style="border:  1px solid #838383;">Historique de vos commandes</a>
        <a [routerLink]="['/user/cart']" class="btn btn-success mx-2" style="border:  1px solid #838383;">Voir votre Panier</a>

        <a [routerLink]="['/user/comments', user?.id]" class="btn btn-success" style="border:  1px solid #838383;">Voir vos Commentaires</a>
      </div>
    </div>

    <!-- Infos du User -->
    <div class="row mt-5">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header bg-primary text-white">
            Vos Informations
          </div>
          <div class="card-body">
            <p><strong>Email:</strong> {{ user?.email}}</p>
            <p><strong>Nom d'utilisateur:</strong> {{ user?.userName}}</p>
            <p><strong>Num de Tel:</strong> {{ user?.tel}}</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Bouton de modification des infos user -->
    <div class="row mt-3">
      <div class="col text-center">
      <a [routerLink]="['/user', user?.id, 'edit']" class="btn btn-warning">Modifier vos infos</a>
      </div>
    </div>
  </div>