<div class="box-text-rgpd">
    <h2>Conditions Générales de Vente (CGV) de MarchéDirect</h2>
    <p class="section-titre"><strong>Objet :</strong></p>
    <p class="section-para">Les présentes Conditions Générales de Vente (CGV) définissent les droits et obligations des parties dans le cadre de la vente de produits proposés sur le site <strong>MarchéDirect</strong>. Elles régissent toutes les transactions effectuées sur le site et sont systématiquement mises à disposition de l'acheteur lors de la validation de sa commande.</p>
    <br>
    <p class="section-titre"><strong>Identification de l'entreprise :</strong></p>
    <ul class="liste-text">
        <li><strong>Nom de l'entreprise :</strong> MarchéDirect</li>
        <li><strong>Forme Juridique :</strong> SARL</li>
        <li><strong>Adresse du siège social :</strong> 6  rue du MarchéDirect, allée des légumes 62223 St Laurent-Blangy</li>
        <li><strong>Numéro du SIRET :</strong> 352 312 450 00780</li>
        <li><strong>Contact :</strong> 
            <ul>
                <li>Adresse e-mail : {{email}} </li>
                <li>Téléphone : 00 00 00 00 00</li>
            </ul>
        </li>
    </ul>
    <br>
    <p class="section-titre"><strong>Produits et services :</strong></p>
    <p class="section-para"><strong>MarchéDirect</strong> est une plateforme qui permet aux utilisateurs de commander en ligne des produits proposés par des commerçants locaux. Chaque commerçant est responsable de la disponibilité, de la description et de la qualité des produits qu'il propose. Les produits disponibles sur le site sont accompagnés d'une fiche détaillée (nom, description, prix, disponibilité). <strong>MarchéDirect</strong> s'efforce de garantir l'exactitude des informations, mais ne pourra être tenu responsable en cas d'erreur ou d'omission.</p>
    <br>
    <p class="section-titre"><strong>Commandes :</strong></p>
    <p class="section-para">Toute commande passées sur le site <strong>MarchéDirect</strong> implique l'acceptation des présentes CGV sans réserve.</p>
    <ul class="liste-text"> étapes de la commande :
        <li>Séléction des produits et ajout au panier.</li>
        <li>Validation du panier.</li>
        <li>Création d'un compte ou connexion à un compte existant.</li>
        <li>Choix du mode de récupération (retrait sur le marché) eet du créneau horaire.</li>
        <li>Validation et paiement de la commande.</li>
    </ul>
    <p class="section-para">Un e-mail de confirmation sera envoyé à l'utilisateur pour valider la commande. <strong>MarchéDirect</strong> se réserve le droit de refuser une commande en cas de litige avec l'utilisateur ou de suspicion de fraude.</p>
    <br>
    <p class="section-titre"><strong>Prix :</strong></p>
    <p class="section-para">Les prix des produits sont affichés en euros, toutes taxes comprises (TTC). Les commerçants peuvent modifier leurs prix à tout moment, mais les produits seront facturés sur la base du tarif en vigueur au moment de la validation de la commande. Aucun frais de livraison n'est applicable, étant donné que les produits sont retirés directement sur le marché.</p>
    <br>
    <p class="section-titre"><strong>Modalités de paiement :</strong></p>
    <p class="section-para">Le paiement s'effectue en ligne via les moyens suivants :</p>
    <ul class="liste-text">
        <li>Carte Bancaire (Visa, MasterCard, etc.)</li>
        <li>Tout autre moyen de paiement sécurisé proposé sur la plateforme.</li>
        <li>Le paiement est sécurisé via nos prestataires de paiement tiers. <strong>MarchéDirect</strong> ne stocke aucune donnée bancaire des utilisateurs.</li>
    </ul>
    <br>
    <p class="section-titre"><strong>Récupération des produits :</strong></p>
    <p class="section-para">Les produits commandés doivent être récupérés par l'utilisateur directement auprès des commerçants sur le marché, au créneau horaire sélectionné lors de la commande. En cas d'impossibilité de récupérer la commande dans le créneau choisi, il est recommandé de contacter le commerçant via la plateforme pour convenir d'un nouvel arrangement, sous réserve de disponibilité.</p>
    <br>
    <p class="section-titre"><strong>Droit de rétractation :</strong></p>
    <p class="section-para">Conformément à l'article L221-28 du Code de la consommation, le droit de rétractation ne s'applique pas aux produits périssables tels que les denrées alimentaires. Par conséquent, les produits alimentaires commandés via <strong>MarchéDirect</strong> ne peuvent pas être retournés, ni remboursés, sauf en cas de non-conformité ou de produits défectueux.Si un produit est non conforme ou endommagé, l'utilisateur doit contacter le service client dans un délai de 24 heures suivant la récupération de la commande pour signaler le problème et demander un échange ou un remboursement.</p>
    <br>
    <p class="section-titre"><strong>Responsabilité :</strong></p>
    <p class="section-para"><strong>MarchéDirect</strong> agit en tant qu'intermédiaire entre les utilisateurs et les commerçants. Chaque commerçant est responsable des produits qu'il propose à la vente. <strong>MarchéDirect</strong> ne pourra être tenu responsable des dommages résultant de l'utilisation ou de la consommation des produits achetés via la plateforme. En cas d'indisponibilité du produit après passation de la commande, <strong>MarchéDirect</strong> informera l'utilisateur et proposera un remboursement total ou partiel.</p>
    <br>
    <p class="section-titre"><strong>Garanties :</strong></p>
    <p class="section-para">Les commerçants sont tenus de garantir la conformité des produits vendus, conformément aux dispositions légales. En cas de défaut ou de non-conformité avérée, l'utilisateur pourra demander un remplacement ou un remboursement, en contactant le service client dans les meilleurs délais.</p>
    <br>
    <p class="section-titre"><strong>Protection des données personnelles :</strong></p>
    <p class="section-para"><strong>MarchéDirect</strong> s'engage à protéger les données personnelles des utilisateurs, conformément au <strong>Règlement Général sur la Protection des Données (RGPD)</strong>. Pour en savoir plus, veuillez consulter notre [Politique de Confidentialité].</p>
    <br>
    <p class="section-titre"><strong>Propriété intellectuelle :</strong></p>
    <p class="section-para">Tous les éléments présents sur le site <strong>MarchéDirect</strong> (textes, images, logos, etc.) sont protégés par le droit d'auteur et le droit des marques. Toute reproduction totale ou partielle est strictement interdite sans l'autorisation écrite préalable de <strong>MarchéDirect</strong>.</p>
    <br>
    <p class="section-titre"><strong>Litiges :</strong></p>
    <p class="section-para">En cas de litige, les parties s'engagent à rechercher une solution amiable avant toute action en justice. À défaut d'accord amiable, tout litige sera soumis aux tribunaux compétents du ressort de [ville de votre siège social].</p>
    <br>
    <p class="section-titre"><strong>Droit applicable :</strong></p>
    <p class="section-para">Les présentes CGV sont régies par la loi française. Toute commande passée via le site <strong>MarchéDirect</strong> implique l'acceptation pleine et entière des présentes CGV.</p>
</div>