<div class="box-text-rgpd">
    <h2>Mentions légales de MarchéDirect</h2>
    <p class="section-titre"><strong>Éditeur du site :</strong></p>
    <ul class="liste-text">
        <li><strong>Nom de l'entreprise :</strong> MarchéDirect</li>
        <li><strong>Forme Juridique :</strong> SARL</li>
        <li><strong>Adresse du siège social :</strong> 6  rue du MarchéDirect, allée des légumes 62223 St Laurent-Blangy</li>
        <li><strong>Numéro du SIRET :</strong> 352 312 450 00780</li>
        <li><strong>Capital social :</strong> 10 000 000 000€</li>
        <li><strong>Directeur de la publication :</strong> Baptiste</li>
        <li><strong>Contact :</strong> 
            <ul>
                <li>Adresse e-mail : {{email}}</li>
                <li>Téléphone : 00 00 00 00 00</li>
            </ul>
        </li>
    </ul>
    <br>
    <p class="section-titre"><strong>Hébergeur du site :</strong></p>
    <ul class="liste-text">
        <li><strong>Nom de l'hébergeur :</strong> Chez toi.</li>
        <li><strong>Adresse :</strong> Place d'Armes, 78000 Versailles, France.</li>
        <li><strong>Téléphone :</strong> 00 00 00 00 00.</li>
        <li><strong>Site web :</strong> https://chezToi.com</li>
    </ul>
    <br>
    <p class="section-titre"><strong>Propriété intellectuelle :</strong></p>
    <p class="section-para">Le site <strong>MarchéDirect</strong>, ainsi que l'ensemble de son contenu (textes, images, vidéos, logos, graphismes, icônes, etc.), est la propriété exclusive de <strong>MarchéDirect</strong> ou de ses partenaires. Toute reproduction, représentation, modification, publication, transmission, dénaturation totale ou partielle du contenu de ce site, par quelque procédé que ce soit, sans l'autorisation expresse de <strong>MarchéDirect</strong>, est interdite et constituerait une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code de la propriété intellectuelle. Les marques, noms de produits, services et logos présents sur le site sont déposés par leurs titulaires respectifs.</p>
    <br>
    <p class="section-titre"><strong>Données personnelles :</strong></p>
    <p class="section-para">En utilisant le site <strong>MarchéDirect</strong>, vous pouvez être amené à nous communiquer des données personnelles (nom, prénom, adresse e-mail, etc.). Ces informations sont collectées dans le respect des lois relatives à la protection des données personnelles, notamment le <strong>Règlement Général sur la Protection des Données (RGPD)</strong>. Pour en savoir plus sur la gestion de vos données personnelles, veuillez consulter notre [Politique de Confidentialité].Conformément à la loi <strong>Informatique et Libertés</strong> du 6 janvier 1978 modifiée, et au RGPD, vous disposez d'un droit d'accès, de rectification, de suppression, et d'opposition aux données vous concernant. Pour exercer ce droit, vous pouvez nous contacter à l'adresse suivante : {{email}}.</p>
    <br>
    <p class="section-titre"><strong>Responsabilité :</strong></p>
    <p class="section-para"><strong>MarchéDirect</strong>s'efforce de fournir sur son site des informations exactes et à jour. Cependant, nous ne pouvons garantir l'exactitude, la complétude ou l'actualité des informations publiées. Par conséquent, l'utilisateur reconnaît utiliser ces informations sous sa responsabilité exclusive. <strong>MarchéDirect</strong>ne pourra être tenue responsable des dommages directs ou indirects résultant de l'accès ou de l'utilisation du site, y compris l'inaccessibilité, la perte de données, les virus ou autres problèmes liés à l'utilisation du site.</p>
    <br>
    <p class="section-titre"><strong>Liens Hypertextes :</strong></p>
    <p class="section-para">Le site <strong>MarchéDirect</strong> peut contenir des liens vers des sites tiers. Nous ne sommes pas responsables du contenu ou des pratiques de ces sites tiers, lesquels sont soumis à leurs propres politiques de confidentialité et de gestion des cookies.</p>
    <br>
    <p class="section-titre"><strong>Cookies :</strong></p>
    <p class="section-para">Le site <strong>MarchéDirect</strong> utilise des cookies afin d'améliorer l'expérience utilisateur et d'analyser le trafic. En poursuivant votre navigation sur notre site, vous acceptez l'utilisation des cookies conformément à notre [Politique de Gestion des Cookies].</p>
    <br>
    <p class="section-titre"><strong>Droit applicable et juridiction compétente</strong></p>
    <p class="section-para">Les présentes mentions légales sont régies par le droit français. En cas de litige, et à défaut de résolution amiable, les tribunaux français seront seuls compétents pour connaître du différend.</p>
    <br>
    <p class="section-titre"><strong>Contact :</strong></p>
    <p class="section-para">Pour toute question concernant cette politique ou pour exercer vos droits, veuillez nous contacter :</p>
    <ul class="liste-text">
        <li><strong>Email :</strong> {{email}}</li>
        <li><strong>Adresse Postale :</strong> 6  rue du MarchéDirect, allée des légumes 62223 St Laurent-Blangy</li>
    </ul>
</div>