<div class="container ac">
    <div class="container container-card">
        <div class="card d-flex flex-row align-items-center justify-content-center"
            routerLink="../../commerce/profil-commerçant">
            <img src="images/cardAccueil1.png" alt="Image 1">
            <div class="card-content">
                <h2>Profil Commerçant</h2>
                <p>Gestion des informations de la boutique, horaires, localisation sur le marché, les statistiques et
                    rapports, etc</p>
            </div>
        </div>
        <div class="card d-flex flex-row align-items-center justify-content-center"
            routerLink="../../commerce/gestion-des-produits">
            <img src="images/cardAccueil2.png" alt="Image 1">
            <div class="card-content">
                <h2>Gestion des produits</h2>
                <p>Ajouter, modifier et supprimer des produits, gérer les stocks et les disponibilités.</p>
            </div>
        </div>
        <div class="card d-flex flex-row align-items-center justify-content-center"
            routerLink="../../commerce/gestion-des-commandes">
            <img src="images/cardAccueil3.png" alt="Image 1">
            <div class="card-content">
                <h2>Gestion des commandes</h2>
                <p>Voir les commandes en temps réel, confirmer la préparation des commandes et notifier les clients.</p>
            </div>
        </div>
    </div>
</div>